@{
    ViewData["Title"] = "Home Page";
}

<div class="text-center">
    <h1 class="display-4">Welcome to My Personal Bakery</h1>

    <table>
        <tr>
            <td>Name  :</td>
            <td>Santosh</td>
        </tr>
    </table>
    
</div>
